{% extends "items/base.html" %}

{% block page_title %}
    {{ object }}
{% endblock %}

{% block content %}
    <h3>{{ object.type }}</h3>
    <a href="{% url 'items:mi-update' object.id %}">Изменить</a>
    <ul class="list-unstyled">
        <li>Тип: {{ object.type }}</li>
        <li>Заводской номер: {{ object.serial }}</li>
        <li>Дата последней проверки: {{ object.last_check_date }}</li>
        <li>Состояние: {{ object.get_state_display }}</li>
        <li>Принадлежность: <a
                href="{% url 'personnel:contact' object.holder.holder.id %}">{{ object.holder.holder }}</a></li>
        {% if object.description %}
            <li>Описание:
                <p>{{ object.description }}</p>
            </li>
        {% endif %}
    </ul>
    <br>
    {{ block.super }}
{% endblock %}
