{% load helpers %}

<div class="pagination">
    {% if pages %}
        <ul class="pager">
            {% if page_obj.has_previous %}
                <li><a href="{% url url_name %}?{% url_put2get 'page' page_obj.previous_page_number %}">Предыдущая</a>
                </li>
            {% endif %}
{#            {% for page in page_obj.paginator.page_range|slice:page_nums_range %}#}
{#                <li {% if page_obj.number == page %} class="active" {% endif %} >#}
{#                    <a href="{% url url_name %}?{% url_put2get 'page' page %}">{{ page }}</a>#}
{#                </li>#}
{#            {% endfor %}#}
            {% if page_obj.has_next %}
                <li><a href="{% url url_name %}?{% url_put2get 'page' page_obj.next_page_number %}">Следующая</a></li>
            {% endif %}
            <li>
                <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
            </li>
        </ul>
    {% endif %}
</div>
