{% extends "base_single_panel.html" %}

{% block panel_title %}Установка нового пароля{% endblock %}

{% block panel_body %}
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль дважды<br/>
            Таким образом мы сможем проверить корректность его ввода.</p>

        <form role="form" action="" method="post">{% csrf_token %}
            <fieldset>
                <div class="form-group">
                    {{ form.new_password1.errors }}
                    <div class="col-xs-5"><label for="id_new_password1">Новый пароль:</label></div>
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">
                    {{ form.new_password2.errors }}
                    <div class="col-xs-5"><label for="id_new_password2">Подтверждение пароля:</label></div>
                    {{ form.new_password2 }}
                </div>
                <div class="form-group">
                    <label>&nbsp;</label><input type="submit" value="Установить новый пароль"
                                                class="btn btn-lg btn-success btn-block"/>
                </div>
            </fieldset>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p class="lead">Сброс пароля не прошёл успешно</p>
        <p>Ссылка для сброса пароля не верна, <br/>
            возможно она уже была использована. <br/>
            Пожалуйста, повторите попытку.</p>
    {% endif %}
{% endblock %}
