{% extends "base.html" %}


{% block nav_sidebar %}
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Поиск...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> Панель</a>
                </li>
                <li>
                    <a href="{% url 'messaging:dialog-list' %}"><i class="fa fa-envelope fa-fw"></i> Дилоги</a>
                </li>
                <li>
                    <a href="{% url 'personnel:contact-list' %}"><i class="fa fa-users fa-fw"></i> Контакты</a>
                </li>
                <li>
                    <a href="{% url 'personnel:contractor-list' %}"><i class="fa fa-building-o fa-fw"></i> Контрагенты</a>
                </li>
                <li>
                    <a href="{% url 'items:mi-list' %}"><i class="fa fa-tachometer fa-fw"></i> Измерительные приборы</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-files-o fa-fw"></i> <i>Документация</i><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#"><i>Метрология (в разработке)</i></a>
                        </li>
                        <li>
                            <a href="#"><i>Средства измерительной техники (в разработке)</i></a>
                        </li>
                        <li>
                            <a href="#"><i>Сайт (в разработке)</i></a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
{% endblock %}

